/********** Base styles **********/
*{
        box-sizing: border-box;
      }

.row{
          width: 100%;
        }

section{
          position: relative;
        }

h1{
  text-align: center;
}        

h2{
          position: absolute;
          margin-top: 0;
        }

p{
          padding: 50px 10px 10px 10px;
        }


#top{

}
    #section1{
      background-color: #E9E9E9;
      margin: 10px 10px 10px 10px;
      border: 1px solid black;
      padding: 10px;
      color: black;
    }

    #section2{
      background-color: orange;
      margin: 10px 10px 10px 10px;
      border: 1px solid black;
      padding: 10px;
      color: black;
    }

    #section3{
      background-color: green;
      margin: 10px 10px 10px 10px;
      border: 1px solid black;
      padding: 10px;
      color: black;
    }

    #col1{
      top: 0;
      right: 0;
      background-color: pink;
      width: 148px;
      text-align: center;
      border: 1px solid black;
      padding: 10px;
      color: black;
    }

    #col2{
      top: 0;
      right: 0;
      background-color: red;
      color: white;
      width: 148px;
      text-align: center;
      border: 1px solid black;
      padding: 10px;
    }

    #col3{
      top: 0;
      right: 0;
      background-color: yellow;
      color: black;
      width: 148px;
      text-align: center;
      border: 1px solid black;
      padding: 10px;
    }


.container-fluid{
  margin: 0;
  padding: 0;
}

.navbar{
  border-radius: 0px;
  background-color: rgba(0,0,0,0.8);
}

.navbar-brand{
  font-size: 33px;
  color: white;
  padding-left: 30px;
}

.navbar-brand:hover{
  color: white;
}

.nav{
  margin: 0;
  padding: 0;
}

.navbar-nav{
  font-size: 20px;
  text-align: center;
  margin: 0;
  padding: 0;
}

.navbar-toggle{
  border: 2px solid white;
  margin-right: 20px;
}

.icon-bar{
  background-color: white;
}


.main-title{
  margin-bottom: 25px;
  text-align: center;
  color: #ff4532;
  font-size: 55px;
  font-family: "Open Sans", cursive, sans-serif;
  font-weight: bold;
}

li{
  box-sizing: border-box;
  width: 100%;
}

.menu-item{
  padding: 0;
  margin: 0;
  width: 100%;
  background-color: white;
  border-bottom: 2px solid black;
  color: black;
  display: block;
}

.menu-item:hover{
  background-color: rgba(0,0,0,0.9);
  color: rgba(0,0,0,0.4);
}